# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# ---> macOS
.DS_Store
.AppleDouble
.LSOverride
go.sum

.idea/

tmp
temp

.vscode/
./cgo/a.out
/qrcode/*.png
*.png
*.gv
*.svg
.dot
*.db
# 不忽略特定文件
!interview.png

*.out
*.txt